
body{
    background-image: url(../images/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    
    
}

h1, h2{
    font-family: 'Fredoka One', cursive;
    color: #001b5a;
}
textarea { 
    
    width: 300px; 
    height: 100px;
    border: #2597f4 1px solid;
}


.nav{
 display: flex;
justify-content: flex-end;
background-color:#55dfd8 ;
padding: 10px;
border-radius: 10px;
font-family: 'Fredoka One', cursive;
font-weight: bold;
}
a{
    text-decoration: none;
    color:#000;
}
.nav tr td a{
    margin-right: 5px;
    padding: 10px;
    font-weight: 5px;
    border-radius: 10px;
    transition: 0.5s;
}
.nav tr td a:hover{
    background-color:azure;
    opacity: 0.9;
}
.logo-nav{
    display: flex;
align-items: center;
justify-content: center;
}
.logo-nav h2{
    display: inline;
    margin-left: 10px;
    letter-spacing: 5px;

}
.logo-img{
    width: 60px;
    border-radius: 50px;
}
.principal{
   align-self: center;
   margin-top: 15px;
   height: 28.8em;
}
.descripcion_inicio{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 0 auto;
}
.titulo_servicios h1{
    margin-left: 2em;
}
.titulo_servicios h3{
    margin-left: 2em;
}
.descripcion_servicios{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    
}
.precio{
    color: #2597f4;
    margin: 0 auto;
    font-size: 30px;
}
.titulo_ini{
    text-align: center;
}
.subtitulo_ini{
    text-align: center;
    letter-spacing: 5px;
}
.parrafos_servicios{
    margin: 0 auto;
}
.parrafos{
    font-family: 'Merriweather Sans', sans-serif;
    text-justify: distribute-all-lines;
    min-height: 18em;
    max-width: 60%;
    margin: 0 auto;
    padding: 5px;

    
}
.formulario{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 1em;
}

.texto-form{
    margin: 0 auto;
}
.casilla-form{
    width: 80%;
    height: 15px;
    border: #2597f4 1px solid;
    border-radius: 6px;
    padding: 5px;
    margin: 3px 0;

}
.logo1{
    text-align: center;
}


.botones{
    padding: 10px;
    margin: 5px;
    background: none;
    background-color:#55dfd8 ;
    font-weight: bold;
    color: azure;
    border-radius: 10px ;
    border:#55dfd8 1px solid;
}
.botones:hover{
    background: none;
    border:#55dfd8 1px solid;
    color: inherit;
    font-weight: bold;

}

/*Footer*/
.footer{
    position:relative;
    bottom: 0;
    left: 0;
    width:100%;
    background:#120052;
    
}

.footer section{
    display: flex;
    justify-content: center;
}
.footer section ul li{
    list-style: none;
    display: inline;
}
.footer .nav-list a{
    color: aliceblue;
    font-family: 'Merriweather Sans', sans-serif;

    margin-left: 20px;

}
